<!DOCTYPE html>
<html lang="it">
<head>

  <title>ContactUs Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/contactUs.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body class="bodyAdmin">
<div id="app">
  <div class="collapse collapser" id="navbarToggleExternalContent">
    <div class="p-4">
      <p class="subtitleContact">In this page there are the messages sent by the users</p>
      <p class="titleCollapseContact">Use the icons below to navigate: </p>
      <a href="/admin/pie" class="btn btn-default pieButton"><i class="fa fa-pie-chart pieIcon"></i></a>
      <a href="/heatmap" class="btn btn-default barButton"><i class="fa fa-calendar heatmapIcon"></i></a>
      <a href="/admin/qr" class="btn btn-default qrButton"><i class="fa fa-qrcode qrIcon"></i></a>
      <a href="/admin/userTickets" class="btn btn-default ticketButton"><i class="fa fa-th-list ticketIcon"></i></a>
    </div>
  </div>
  <nav class="navbar">
    <a class="navbar-brand" href="/admin/userTickets">Contact Us</a>
    <button class="navbar-toggler order-4 ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-reorder"></i>
    </button>
  </nav>
  <div class="container d-flex justify-content-center buttonContainer">
    <label v-cloak for="inputMsg" v-show="false">Search User</label>
    <input class="form-control inputSearch" id="inputMsg" placeholder="Search User" v-model="utenteChoice">
    <button id="buttonSearch" @click="listMessage()"> <i class="fa fa-search"></i> </button>
    <button @click="resetUser()"> <i class="fa fa-close"></i> </button>
  </div>
  <div v-cloak v-if="dataReady">
    <div class='container' id ='messageList'>
      <div class='row'>
    	   <div class='col-md-6' v-for="msg in message">

           <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">User: {{msg.fullName}}</h5>
                  <small>3 days ago</small>
              </div>
              <p class="mb-1">{{msg.message}}</p>
              <small>
                <strong>Email</strong>: {{msg.email}}
                <strong>Contact</strong>: {{msg.contact}}
                <strong>Company</strong>: {{msg.company}}
              </small>
             </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" v-if="!dataReady">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <modal v-cloak v-if="ticketDeleted" @close="ticketDeleted = false">
    <h3 slot="header"><span class="congratz">Ticket used!</span></h3>
     <img slot="image" v-bind:src=deleteImage v-bind:alt=deleteImage>
    <h5 v-cloak slot="body">{{deleteString}}</h5>
  </modal>

  <modal v-cloak v-if="errorModal" @close="errorModal = false">
    <img slot="image" v-show="false" alt="hidden">
    <h3 slot="header"><span class="congratz">Attention!</span></h3>
    <h5 v-cloak slot="body">{{error}}</h5>
  </modal>

</div>
</body>



<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>

<script>

Vue.component('modal', {
    template: `
    <transition name="modal">
    <div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">

      <div class="modal-header">
        <slot name="header">
        default header
        </slot>
      </div>

      <div class="modal-body">
        <slot name="image">
          default image
        </slot>
        <slot name="body">
        default body
        </slot>
      </div>
      <div class="modal-footer">
        <slot name="footer">
        <div class="modal-default-links">
          <button class="btnModalDelete" @click="$emit('close')">
          OK
          </button>
        </div>
        </slot>
      </div>
      </div>
    </div>
    </div>
  </transition>
`,
});

var message = {
  fullName:'',
  email:'',
  contact: '',
  company: '',
  message: ''
};


var app = new Vue({
	el:	"#app",
	data:	{
		message: message,
    dataReady: false,
    ticketChoice: '',
    error: '',
    result: '',
    modalVisible: false,
    loading: false,
    ticketDeleted: false,
    deleteString: '',
    deleteImage: '',
    errorModal: false,
    utenteChoice: '',
    utentiSelect: []
	},
	methods: {
    showModal: function() {
      this.modalVisible = true;
    },
    hideModal: function() {
      this.modalVisible = false;
    },
    showAlert: function(item){
      //if(confirm("Do you want to fill the input with the code of the user "+item.idUtente+" for the item "+item.idTipoTicket.type+" with discount "+item.idTipoTicket.discount+"% ?")) {
      this.ticketChoice = item._id;
      //}
    },
    resetUser: function(){
      this.utenteChoice = '';
      this.listMessage();
    },
    setUserFinder: function(){
      axios.get("/api/utenti")
				.then(response => (this.utentiSelect = response.data)) //Promise
				.catch(error => (console.log(error))) //Gestione errori approssimativa
    },
    // deleteTicket: function(){
		// 	axios.delete("/api/userTickets/"+this.ticketChoice)
		// 		.then(response => {
    //         console.log(response.data);
    //         axios.get("/api/tickets")
    //           .then(responseTicket => {
    //             var result = '';
    //             for (i=0; i<responseTicket.data.length; i++) {
    //               if (responseTicket.data[i]._id == response.data.idTipoTicket){
    //                 result = responseTicket.data[i];
    //                 break;
    //               }
    //             }
    //             //alert("Ticket Utilizzato: "+result._id+" per l'utente "+result.userid+" di tipo "+result.type+" con sconto del "+result.discount+"%");
    //             this.deleteString = "Ticket for a/an "+result.type+" with discount of "+result.discount+"%"+" for the user "+result.userid;
    //             this.deleteImage = result.image;
    //             this.ticketDeleted = true;
    //             this.tickets.splice(this.tickets.findIndex(item => item._id == this.ticketChoice), 1); //Quale tipo di elemento con find, quanti tipi
    //             this.ticketChoice = '';
    //           })
    //           .catch(error => {
    //             this.error = error;
    //             if (this.error == "Error: Request failed with status code 404") {
    //               this.error = "Error: this code was not found!"
    //             }
    //             this.errorModal = true
    //           });
		// 		})
    //     .catch(error => {
    //       this.error = error;
    //       if (this.error == "Error: Request failed with status code 404") {
    //         this.error = "Error: this code was not found!"
    //       }
    //       this.errorModal = true
    //     });
		// },
		listMessage: function(){
			axios.get("/api/contactUs")
				.then(response => {
          this.message = response.data;
          if (this.utenteChoice != '') {
            this.message = this.message.filter(this.filterByUser);
          }
          this.dataReady = true
        }) //Promise
				.catch(error => {
          this.error = error;
          this.errorModal = true
        }) //Gestione errori approssimativa
		},
    submitTicket: function() {
      if (this.ticketChoice != '') {
          this.deleteTicket();
      } else {
        this.error = "Please enter a code!";
        this.errorModal = true;
      }
    },
    filterByUser: function(value){
      return value.fullName.toLowerCase().includes(this.utenteChoice.toLowerCase());
    },
    setEnterKey: function() {
      document.getElementById("inputMsg").addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
          // Cancel the default action, if needed
          event.preventDefault();
          // Trigger the button element with a click
          document.getElementById("buttonSearch").click();
        }
      });
    },
		init: function(){
      this.setUserFinder();
			this.listMessage();
      this.setEnterKey();
		}
	},
	mounted(){
		this.init();
	}
});

</script>

</html>
