<!DOCTYPE html>
<html lang="it">
<head>

  <title>Device</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/device.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<div id="app">
  <nav class="navbar">
     <a class="navbar-brand" href="/device">Device</a>
     <a href="/" class="btn btn-default homeButton"><i class="fa fa-home homeIcon"></i></a>

    <!--<button class="btn buttonSearch order-2" id="buttonChange" @click="exchange()"><i class="fa fa-exchange exchangeIcon"></i></button>-->

    <!--<label v-cloak for="inputThingID" v-show="false">Thing ID</label>
    <input v-cloak v-if="thingInput" class="form-control order-2 inputSearch ml-auto" id="inputThingID" placeholder="Thing ID" v-model="thingID">
    <button v-cloak v-if="thingInput" class="btn buttonSearch order-3" id="buttonThingID" @click="setThingID()"><i class="fa fa-upload uploadIcon"></i></button>-->

    <label for="inputSearchID" v-show="false">Input Search</label>
    <input v-if="dataReady" class="form-control order-2 inputSearch ml-auto" id="inputSearchID" placeholder="Search" v-model="search">
    <button v-if="dataReady" class="btn buttonSearch order-3" id="buttonSearchID" @click="loadData()"><i class="fa fa-search searchIcon"></i></button>
  </nav>
  <div v-cloak v-if="dataReady">
    <div class='container' id ='deviceList' v-for="device in devices">
      <div class='row'>
    	   <div class='col-md-6' v-for="shadow in device.shadowList">
    			   <div class='media'>
    					  <img class='align-self-center mr-3 imageClass' v-bind:src=shadow.shadowImage v-bind:alt=shadow.shadowName>
    					       <div class='media-body'>
    					              <h5 class='mt-0'>
    						                    <strong>Device</strong>: {{device.id}} <br/><strong>Shadow</strong>: {{shadow.shadowName}}
    						            </h5>
                            <div class ='media-bottom'>
                              <strong>Type</strong>: {{shadow.shadowType}}<br/>
                              <strong>Description</strong>: {{shadow.shadowDescription}}<br/>
                              <strong>Position</strong>: Lat({{shadow.shadowLat}}), Long({{shadow.shadowLong}}), Z-floor({{shadow.shadowZFloor}})
                              <div class ='media-bottom mt-2 mb-2'>
                                <button type="button" class="btn btn-outline-secondary btn-sm align-self-center" data-toggle="modal" data-target=".bd-code-modal-sm" @click="showCode(shadow)">Show Data</button>
                              </div>
                            </div>
    				</div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade bd-code-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabelCode" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabelCode">Dati di {{currentShadow.shadowName}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class='media-body'>
            <h5 class='mt-0'>
              Reported:
            </h5>
            <div style="height:200px;width:260px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                {{currentShadow.reported}}
            </div>
          </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" v-if="!dataReady">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
<script>


var shadow = {
  shadowName: '',
  shadowImage: '',
  shadowDescription: '',
  shadowLat: '',
  shadowLong: '',
  shadowZFloor: '',
  shadowType: '',
  reported: ''
};

var devices = {
  id:'',
  shadowList: [shadow]
};

var currentShadow = {
  shadowName: '',
  shadowImage: '',
  shadowDescription: '',
  shadowLat: '',
  shadowLong: '',
  shadowZFloor: '',
  shadowPosition: '',
  shadowType: '',
  reported: ''
};

var app = new Vue({
	el:	"#app",
	data:	{
		devices: [devices],
    dataReady: false,
    search: '',
    currentShadow: currentShadow,
    thingInput: true,
    thingID: '',
    errors: '',
    username: '',
    nextToken: 'next',
    pageSize: 10,
    shadowListName: [],
    endpoint: 'a2spllhdjdikn.iot.eu-central-1.amazonaws.com',
    shadow: shadow,
    buildingID: ''
	},
	methods: {
    /*exchange: function() {
      this.thingInput = !this.thingInput;
    },
    setThingID: function() {
      if (this.thingID != ''){
        this.accountThing.thingID = this.thingID;
        this.accountThing.account = this.username;
        axios.post("/api/utentiUpdate", this.accountThing)
					.then(response => {
						if (response.data.errors && response.data.errors.length > 0) {
							this.errors = response.data.errors.map(({msg}) => msg);
						} else {
              console.log("Il ThingID è stato aggiornato");
              this.loadData();
						}
					})
					.catch(err => this.errors = [err])
      }
    },*/
    showCode: function(shadow){
      this.currentShadow = shadow;
    },
    filterDevice: function(value){
      console.log(value);
      return value.id.toLowerCase().includes(this.search.toLowerCase());
    },
    loadData: async function () {
        try {
            const response = await axios.get("/api/homeData");
            const things = await axios.get("/api/things");
            this.parseThingsToListShadow(things.data);
            //this.getShadowList();
            this.username = response.data.username;
            this.buildingID = response.data.buildingID;
            if (this.search != '') {
              this.devices = this.devices.filter(this.filterDevice);
            }
            this.dataReady = true;
        } catch (error) {
            console.log(error);
        }
    },
    parseThingsToListShadow: function(things) {
      this.devices = [];
      //For sui Thing
      for (var thing in things) {
        var shadowList = [];
        //For sui devices
        for (var device in things[thing]) {
          //For sulle shadow
          for (var shadow in things[thing][device]) {
            var value = things[thing][device][shadow];
            axios.post("/api/getshadow", {thingName: thing, shadowName: value.friendly_name})
            .then(response => {
              if (response.data.errors && response.data.errors.length > 0) {
                console.log(error);
              } else {
                const json = JSON.parse(response.data.body);
                this.shadow = {
                  shadowName: response.data.shadowName,
                  shadowType: things[response.data.thingName][device][response.data.shadowName].type,
                  shadowImage: 'https://i.pinimg.com/564x/5a/ae/98/5aae98aed227905660fc7813d3bec159.jpg',
                  shadowDescription: things[response.data.thingName][device][response.data.shadowName].description,
                  shadowLat: things[response.data.thingName][device][response.data.shadowName].lat,
                  shadowLong: things[response.data.thingName][device][response.data.shadowName].long,
                  shadowZFloor: 1,//things[response.data.thingName][device][response.data.shadowName].z-floor,
                  reported: json.state.reported
                };
                shadowList.push(this.shadow);
              }
            }).catch(err => console.log(err))
          }
        }
        this.devices.push({id: thing, shadowList: shadowList });
        console.log(this.devices[0]);
      }
    },
		init: function(){
      //this.setEnterKey();
      this.loadData();
			//this.listDevice();
      //this.getDataFromShadow("");
		}
	},
	mounted(){
		this.init();
	}
});
</script>

</html>
