<!DOCTYPE html>
<html lang="it">
<head>

  <title>Device</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/device.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<div id="app">
  <nav class="navbar">
     <a class="navbar-brand" href="/device">Device</a>
     <a href="/" class="btn btn-default homeButton"><i class="fa fa-home homeIcon"></i></a>
     <label for="inputSearchID" v-show="false">Input Search</label>
     <input @keyup.enter="loadData()" v-if="dataReady" class="form-control order-2 inputSearch ml-auto" id="inputSearchID" placeholder="Search Thing" v-model="search">
     <button v-if="dataReady" class="btn buttonSearch order-3" id="buttonSearchID" @click="loadData()"><i class="fa fa-search searchIcon"></i></button>
  </nav>
  <div v-cloak v-if="dataReady">
    <div class='container' id ='deviceList' v-for="device in devices">
      <div class='row'>
    	   <div class='col-md-6' v-for="shadow in device.shadowList">
    			   <div class='media'>
    					  <img v-show=true class='align-self-center mr-3 imageClass' v-bind:src=shadow.shadowImage v-bind:alt=shadow.shadowName>
    					       <div class='media-body'>
    					              <h5 class='mt-0'>
    						                    <strong>Device</strong>: {{device.id}} <br/><strong>Shadow</strong>: {{shadow.shadowName}}
    						            </h5>
                            <div class ='media-bottom'>
                              <strong>Type</strong>: {{shadow.shadowType}}<br/>
                              <strong>Description</strong>: {{shadow.shadowDescription}}<br/>
                              <strong>Lat</strong>: {{shadow.shadowLat}} <br/>
                              <strong>Long</strong>: {{shadow.shadowLong}} <br/>
                              <strong>Z-floor</strong>: {{shadow.shadowZFloor}}
                              <div class ='media-bottom mt-2 mb-2'>
                                <button type="button" class="btn btn-outline-secondary btn-sm align-self-center" data-toggle="modal" data-target=".bd-code-modal-sm" @click="parseThingsToListShadow(shadow)">Show Data</button>
                              </div>
                            </div>
    				        </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-code-modal-sm" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabelCode" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabelCode">Dati di {{currentShadow.shadowName}}</h4>
          <button type="button" @click="stopInterval()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class='media-body'>
            <strong>Type</strong>: {{currentShadow.shadowType}}<br/>
            <strong>Description</strong>: {{currentShadow.shadowDescription}}<br/>
            <strong>Position</strong>: Lat({{currentShadow.shadowLat}}), Long({{currentShadow.shadowLong}}), Z-floor({{currentShadow.shadowZFloor}})
            <h5 class='mt-0'>
              Reported:
            </h5>
            <div style="height:200px;width:260px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                {{currentShadow.reported}}
            </div>
          </div>
          <br/>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" v-if="!dataReady">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
<script>

var shadow = {
  shadowName: '',
  shadowImage: '',
  shadowDescription: '',
  shadowLat: '',
  shadowLong: '',
  shadowZFloor: '',
  shadowType: '',
  reported: '',
  shadowDevice: '',
  shadowThing: '',
};

var devices = {
  id:'',
  shadowList: [shadow]
};

var currentShadow = {
  shadowName: '',
  shadowImage: '',
  shadowDescription: '',
  shadowLat: '',
  shadowLong: '',
  shadowZFloor: '',
  shadowType: '',
  reported: '',
  shadowDevice: '',
  shadowThing: ''
};

var app = new Vue({
	el:	"#app",
	data:	{
		devices: [devices],
    devicesCurrent: [devices],
    dataReady: false,
    search: '',
    currentShadow: currentShadow,
    thingInput: true,
    thingID: '',
    errors: '',
    username: '',
    nextToken: 'next',
    pageSize: 10,
    shadowListName: [],
    shadow: shadow,
    buildingID: '',
    lat: '',
    long: '',
    zFloor: '',
    counter: 0,
    interval: '',
    things: ''
	},
	methods: {
    stopInterval:function() {
      clearInterval(this.interval);
      this.currentShadow = '';
    },
    filterDevice: function(value){
      console.log(value);
      return value.id.toLowerCase().includes(this.search.toLowerCase());
    },
    //Carica i dati dei device da DynamoDB e li salva all'interno di things.
    loadData: async function () {
      this.devices = [];
        try {
            const response = await axios.get("/api/homeData");
            this.things = await axios.get("/api/things");
            this.things = this.things.data;
            for (var thing in this.things) {
              var shadowList = [];
              //For sui devices
              for (var device in this.things[thing]) {
                //For sulle shadow
                for (var shadow in this.things[thing][device]) {
                  var value = this.things[thing][device][shadow];
                  var currentShadow = {
                    shadowName: value.friendly_name,
                    shadowImage:  this.things[thing][device][shadow].img_path,
                    shadowDescription: this.things[thing][device][shadow].description,
                    shadowLat: this.things[thing][device][shadow].lat,
                    shadowLong: this.things[thing][device][shadow].long,
                    shadowZFloor: this.things[thing][device][shadow].zFloor,
                    shadowType: this.things[thing][device][shadow].type,
                    reported: '',
                    shadowThing: thing,
                    shadowDevice: device,
                  };
                  shadowList.push(currentShadow);
                }
              }
              this.devices.push({id: thing, shadowList: shadowList});
            }
            this.username = response.data.username;
            this.buildingID = response.data.buildingID;
            if (this.search != '') {
              this.devices = this.devices.filter(this.filterDevice);
            }
            this.dataReady = true;
            return this.things;
        } catch (error) {
            console.log(error);
        }
    },
    //Dato il thing e il nome di una shadow, ritorna i dati di quella shadow da AWS IoT Core.
    parseThingsToListShadow: function(shadow) {
      this.currentShadow = "";
      clearInterval(this.interval);
      this.interval = setInterval(function() {
              axios.post("/api/getshadow", {thingName: shadow.shadowThing, shadowName: shadow.shadowName})
              .then(response => {
                if (response.data.errors && response.data.errors.length > 0) {
                  console.log(error);
                } else {
                  const json = JSON.parse(response.data.body);
                  if (!json.hasOwnProperty('message')) {
                  this.currentShadow = {
                      shadowName: shadow.shadowName,
                      shadowType: shadow.shadowType,
                      shadowImage: shadow.shadowImage,
                      shadowDescription: shadow.shadowDescription,
                      shadowLat: shadow.shadowLat,
                      shadowLong: shadow.shadowLong,
                      shadowZFloor: shadow.shadowZFloor,
                      reported: json.state.reported,
                      shadowDevice: shadow.shadowDevice,
                      shadowThing: shadow.shadowThing
                    };
                  }
                }
              }).catch(err => console.log(err))
     }.bind(this), 1000);
    },
		init: async function(){
      const things = await this.loadData();
		}
	},
	mounted(){
		this.init();
	}
});
</script>

</html>
