<!DOCTYPE html>
<html lang="it">
<!--
Inspirations:
+Anton Aheichanka - https://dribbble.com/shots/1945593-Login-Home-Screen?list=users&offset=4
+Nicolay Talanov - https://codepen.io/suez/pen/dPqxoM
-->

<head>

	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/css/reset.css">
	<link rel="stylesheet" href="static/css/login.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src='https://cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js'></script>
	<script src='https://cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js'></script>

</head>

<body>
	<div id="app">
		<transition name="fadein" mode="out-in">
		<div key="1" class="lds-circle" v-if="!dataReady">
			<div></div>
		</div>
			<div key="2" class="container" v-cloak v-if="dataReady">
				<div class="login" id="login">
					<div class="login-icon-field">

			<svg class="loginLogo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="155 90 200 270" width="250" height="150"><defs><path d="M271.57 205.74L229.07 205.74L229.07 152.37" id="c68mxNjnq"></path><path d="M229.07 244.29L229.07 262.08L282.44 262.08L282.44 152.37L229.07 152.37" id="akZrYPVg"></path><path d="M313.08 207.23L313.08 152.37" id="d5ROKbSGs4">
			</path>
			<path d="M172.73 205.74L208.31 205.74L208.31 152.37L161.86 152.37L161.86 205.74L104.53 205.74L104.53 106.91" id="b7BgNJi8wS"></path>
			<path d="M391.16 152.37L391.16 207.23L343.72 152.37L343.72 205.74" id="bn8K8KBM3"></path>
			</defs><g><g>
			<g><g><use xlink:href="#c68mxNjnq" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1" stroke-opacity="1"></use></g></g><g><g><use xlink:href="#akZrYPVg" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1" stroke-opacity="1">
			</use></g></g>
			<g><g><use xlink:href="#d5ROKbSGs4" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1" stroke-opacity="1"></use></g></g>
			<g><g><use xlink:href="#b7BgNJi8wS" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1" stroke-opacity="1"></use></g></g><g><g><use xlink:href="#bn8K8KBM3" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1" stroke-opacity="1">
			</use></g></g></g></g>
		</svg>
					</div>
					<div class="rad">
						<div class="tab-1 clickableSpan" v-bind:class="isSignIn ? 'active-tab' : 'non-active-tab'" v-on:click="selectSignIn">
							<span class="clickableSpan">Login</span>
						</div>
						<div class="tab-2 clickableSpan" v-bind:class="!isSignIn ? 'active-tab' : 'non-active-tab'" v-on:click="selectSignUp">
							<span class="clickableSpan">Sign Up</span>
						</div>
					</div>
					<div class="messages" v-if="errors.length > 0">
						<h5>Please correct the following error{{errors.length > 1 ? "s" : ""}}:</h5>
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="messages" v-if="message">
						<h5>{{message}}</h5>
					</div>
					<transition name="fade"
						v-on:before-enter="beforeEnterTransition"
						v-on:after-enter="afterEnterTransition"
						v-on:enter="enterTransition"
						v-on:leave="leaveTransition"
						v-on:after-leave="afterLeaveTransition"
						mode="out-in">
					<form key="1" v-if='isSignIn' ref="formLogin" class="login-form animated" method="post">
						<div class="sign-in-htm">
							<div class="username-row scroll-transition">
								<label for="username-signin">
									<svg version="1.1" class="user-icon" x="0px" y="0px" viewBox="-255 347 100 100"
										xml:space="preserve" height="36px" width="30px">
										Username
										<path class="user-path" d="
					  M-203.7,350.3c-6.8,0-12.4,6.2-12.4,13.8c0,4.5,2.4,8.6,5.4,11.1c0,0,2.2,1.6,1.9,3.7c-0.2,1.3-1.7,2.8-2.4,2.8c-0.7,0-6.2,0-6.2,0
					  c-6.8,0-12.3,5.6-12.3,12.3v2.9v14.6c0,0.8,0.7,1.5,1.5,1.5h10.5h1h13.1h13.1h1h10.6c0.8,0,1.5-0.7,1.5-1.5v-14.6v-2.9
					  c0-6.8-5.6-12.3-12.3-12.3c0,0-5.5,0-6.2,0c-0.8,0-2.3-1.6-2.4-2.8c-0.4-2.1,1.9-3.7,1.9-3.7c2.9-2.5,5.4-6.5,5.4-11.1
					  C-191.3,356.5-196.9,350.3-203.7,350.3L-203.7,350.3z" />
									</svg>
								</label>
								<input type="text" name="username" id="username-signin" class="username-input"
									placeholder="Username" v-model="loginVar._id" />
							</div>
							<div class="password-row scroll-transition">
								<label for="password-signin">
									<svg version="1.1" class="password-icon" x="0px" y="0px" viewBox="-255 347 100 100"
										height="36px" width="30px">
										Password
										<path class="key-path"
											d="M-191.5,347.8c-11.9,0-21.6,9.7-21.6,21.6c0,4,1.1,7.8,3.1,11.1l-26.5,26.2l-0.9,10h10.6l3.8-5.7l6.1-1.1
					  l1.6-6.7l7.1-0.3l0.6-7.2l7.2-6.6c2.8,1.3,5.8,2,9.1,2c11.9,0,21.6-9.7,21.6-21.6C-169.9,357.4-179.6,347.8-191.5,347.8z" />
									</svg>
								</label>
								<input type="password" name="password" class="password-input" id="password-signin"
									placeholder="Password" v-model="loginVar.password" />
							</div>
							<div class="spacing">
							</div>
							<a href="#" class="forgotPass" v-on:click.prevent="forgotPassword">Forgot your password?</a>
							<div class="call-to-action scroll-transition">
								<input type="submit" v-on:keyup.enter="submitLogin" v-on:click.prevent="submitLogin" value="Login" class="buttonLog" />
							</div>
						</div>
					</form>
					<form key="2" v-if="!isSignIn" ref="formSign animated" class="login-form">
						<div class="sign-up-htm">
							<div class="username-row scroll-transition">
								<label for="username-signup">
									<svg version="1.1" class="user-icon" x="0px" y="0px" viewBox="-255 347 100 100"
										xml:space="preserve" height="36px" width="30px">
										Username
										<path class="user-path" d="
					  M-203.7,350.3c-6.8,0-12.4,6.2-12.4,13.8c0,4.5,2.4,8.6,5.4,11.1c0,0,2.2,1.6,1.9,3.7c-0.2,1.3-1.7,2.8-2.4,2.8c-0.7,0-6.2,0-6.2,0
					  c-6.8,0-12.3,5.6-12.3,12.3v2.9v14.6c0,0.8,0.7,1.5,1.5,1.5h10.5h1h13.1h13.1h1h10.6c0.8,0,1.5-0.7,1.5-1.5v-14.6v-2.9
					  c0-6.8-5.6-12.3-12.3-12.3c0,0-5.5,0-6.2,0c-0.8,0-2.3-1.6-2.4-2.8c-0.4-2.1,1.9-3.7,1.9-3.7c2.9-2.5,5.4-6.5,5.4-11.1
					  C-191.3,356.5-196.9,350.3-203.7,350.3L-203.7,350.3z" />
									</svg>
								</label>
								<input type="text" name="username-sign" class="username-input" id="username-signup"
									placeholder="Username" v-model="signUpVar._id" />
							</div>
							<div class="email-row scroll-transition">
								<label for="email-signup">
									<svg class="mail-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px"
										height="30px" viewBox="0 0 70 64" xml:space="preserve">
										Email
										<g class="mail-path">
											<rect x="1" y="13" fill="none" stroke-width="2" stroke-miterlimit="10"
												width="62" height="37" />
											<polyline fill="none" stroke-width="2" stroke-miterlimit="10"
												points="1,13 32,33 63,13 	" />
										</g>
									</svg>
								</label>
								<input type="email" name="email" class="email-input" id="email-signup"
									placeholder="Email" v-model="signUpVar.email" />
							</div>
							<div class="password-row scroll-transition">
								<label for="password-signup">
									<svg version="1.1" class="password-icon" x="0px" y="0px" viewBox="-255 347 100 100"
										height="36px" width="30px">
										Password
										<path class="key-path"
											d="M-191.5,347.8c-11.9,0-21.6,9.7-21.6,21.6c0,4,1.1,7.8,3.1,11.1l-26.5,26.2l-0.9,10h10.6l3.8-5.7l6.1-1.1
					  l1.6-6.7l7.1-0.3l0.6-7.2l7.2-6.6c2.8,1.3,5.8,2,9.1,2c11.9,0,21.6-9.7,21.6-21.6C-169.9,357.4-179.6,347.8-191.5,347.8z" />
									</svg>
								</label>
								<input type="password" name="password-sign" class="password-input" id="password-signup"
									placeholder="Password" v-model="signUpVar.password" />
							</div>
							<div class="call-to-action scroll-transition">
								<input type="submit" v-on:keyup.enter="submitSignup" v-on:click.prevent="submitSignup" value="Sign Up" class="buttonLog" />
							</div>
						</div>
					</form>
					</transition>
				</div>
			</div>
		</transition>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
<script>
	var signUpVar = {
		_id: '',
		email: '',
		password: '',
		sale: ''
	};
	var loginVar = {
		_id: '',
		password: ''
	}

	var app = new Vue({
		el: "#app",
		data: {
			login: {
				username:"",
				password:""
			},
			dataReady: false,
			signUpVar: signUpVar,
			loginVar: loginVar,
			errors: [],
			message: "",
			isSignIn: true,
		},
		methods: {
			forgotPassword: function() {
				this.errors = [];
				if (this.loginVar._id) {
					this.dataReady = false;
					axios.post("/api/sendForgotEmail", {username: this.loginVar._id})
						.then(response => {
							console.log(response.data);
							if (response.data.errors && response.data.errors.length > 0) {
								this.errors = response.data.errors.map(({msg}) => msg);
								this.message = "";
							} else {
								this.message = response.data.message;
							}
						})
						.catch(err => this.errors = [err])
						.finally(() => this.dataReady = true);
				} else {
					this.errors = ["Missing username"];
				}
			},
			selectSignUp: function() {
				this.errors = [];
				this.message = "";
				this.isSignIn = false;
			},
			selectSignIn: function() {
				this.errors = [];
				this.message = "";
				this.isSignIn = true;
			},
			submitSignup: function () {
				this.dataReady = false;
				axios.post("/api/utenti", this.signUpVar)
					.then(response => {
						if (response.data.errors && response.data.errors.length > 0) {
							this.errors = response.data.errors.map(({msg}) => msg);
						} else {
							this.loginVar._id = this.signUpVar._id;
							this.selectSignIn();
							this.message = response.data.msg;
						}
						this.signUpVar.password = "";
					})
					.catch(err => this.errors = [err])
					.finally(() => this.dataReady = true)
			},
			resetSubmission: function () {
				this.signUpVar = {
					_id: '',
					email: '',
					password: '',
					sale: ''
				};
				this.loginVar = {
					_id: "",
					password: ""
				};
			},
			submitLogin: function() {
				this.dataReady = false;
				axios.post("/login", {
					username: this.loginVar._id,
					password: this.loginVar.password
				})
				.then(response => {
					if (response.data.errors && response.data.errors.length > 0) {
						this.errors = response.data.errors.map(({msg}) => msg);
						this.loginVar.password = "";
					} else {
						window.location.href = response.data.path;
					}
				})
				.catch(err => this.errors = [err])
				.finally(() => this.dataReady = true)
			},
			beforeEnterTransition: function() {
				document.getElementsByTagName("body")[0].style.overflow = "auto";
			},

			afterLeaveTransition: function() {
				document.getElementsByTagName("body")[0].style.overflow = "hidden";
			},
			afterEnterTransition: function(element) {
				element.style.height = 'auto';
			},
			enterTransition: function(element) {
				const width = getComputedStyle(element).width;
				element.style.width = width;
				element.style.position = 'absolute';
				element.style.visibility = 'hidden';
				element.style.height = 'auto';

				const height = getComputedStyle(element).height;

				element.style.width = null;
				element.style.position = null;
				element.style.visibility = null;
				element.style.height = 0;

				// Force repaint to make sure the
				// animation is triggered correctly.
				getComputedStyle(element).height;

				// Trigger the animation.
				// We use `setTimeout` because we need
				// to make sure the browser has finished
				// painting after setting the `height`
				// to `0` in the line above.
				setTimeout(() => {
				element.style.height = height;
				});
			},
			leaveTransition: function(element) {
				const height = getComputedStyle(element).height;
				element.style.height = height;
				// Force repaint to make sure the
				// animation is triggered correctly.
				getComputedStyle(element).height;

				setTimeout(() => {
					element.style.height = 0;
				});
				document.getElementsByTagName("body")[0].style.overflow = "hidden";
			},
			init: function () {
				this.dataReady = true;
			}
		},
		mounted() {
			this.init();
		}
	});
</script>

</html>
